<html>
<head>
    <link rel="stylesheet" href="index.css">
    <script src="js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        table, td, th{
            border : 1px solid #ccc;
            font-size: 20px;
            text-align: center;
            border-collapse: collapse;
            padding : 5px 20px;
        }
    </style>
</head>
<body>      
    <div id="app">
        <div style="margin : 20px;">
            <label>입력 : <input type="text" v-model="keyword" @keyup.enter="fnSearch()"></label>
            <select id="seledtBox" v-model="selectItem">
                <option id="0" value="">:: 전체 ::</option>
                <option id="1" value="기계">기계</option>
                <option id="2" value="전기전자">전기전자</option>
                <option id="3" value="컴퓨터정보">컴퓨터정보</option>
                <option id="4" value="ㅋㅋㅋ">ㅋㅋㅋ</option>
            </select>
            <button @click="fnSearch()">클릭</button>
        </div>
        <div class="table-list">
            <table>                   
                <thead>
                    <tr>                            
                        <th scope="col">No.</th>
                        <th scope="col">학번</th>
                        <th scope="col">이름</th>
                        <th scope="col">학과</th>
                        <th scope="col">학년</th>
                        <th scope="col">키</th>
                        <th scope="col">몸무게</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in list" v-if="searchTxt != ''">   
                        <template v-if="item.stu_name == searchTxt">                
                            <td>{{index + 1}}</td> 
                            <td>{{item.stu_no}}</td>
                            <td>{{item.stu_name}}</td>
                            <td>{{item.stu_dept}}</td>     
                            <td>{{item.stu_grade}}</td>     
                            <td>{{item.stu_height}}</td>     
                            <td>{{item.stu_weight}}</td>    
                        </template>          
                    </tr>
                    <tr v-else>
                        <td>{{index + 1}}</td> 
                        <td>{{item.stu_no}}</td>
                        <td>{{item.stu_name}}</td>
                        <td>{{item.stu_dept}}</td>     
                        <td>{{item.stu_grade}}</td>     
                        <td>{{item.stu_height}}</td>     
                        <td>{{item.stu_weight}}</td> 
                    </tr>                   
                </tbody>                   
            </table>
        </div>
    </div>      
</body>
</html>
<script>
    var app = new Vue({ 
    el: '#app',
    data: {
        seen: true
        , list : []
        , keyword : ""
        , searchTxt : ""
        , selectItem : ""
        , deptList : [
            {deptName : "기계", deptValue : "기계"},
            {deptName : "전기전자", deptValue : "전기전자"},
            {deptName : "컴퓨터정보", deptValue : "컴퓨터정보"},
            {deptName : "ㅋㅋㅋ", deptValue : "ㅋㅋㅋ"}
         ]
    }, methods: {
            fnTest : function(){
                var self = this;
                $.ajax({
                    url:"js/MOCK_DATA2.json",
                    dataType:"json",
                    success:function(data) {
                        self.list = data;
                        
                }
            });          
        }
        , fnSearch : function(){
            this.searchTxt = this.keyword;
            
        }

    }
    , created: function () {
		this.fnTest();
	}
});
</script>