<html>
<head>
    <link rel="stylesheet" href="index.css">
    <script src="js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>       
        table, td, th{
            border : 1px solid #ccc;
            font-size: 20px;
            text-align: center;
            border-collapse: collapse;
            padding : 5px 20px;
        }
    </style>
</head>
<body>      
    <div id="app" >
        <div style="margin : 20px;">
            <label>입력 : <input type="text" v-model="keyword"></label>
            <select id="seledtBox" v-model="selectItem">
                <option id="0" value="">:: 전체 ::</option>
                <option id="1" value="기계">기계</option>
                <option id="2" value="전기전자">전기전자</option>
                <option id="3" value="컴퓨터정보">컴퓨터정보</option>
                <option id="4" value="ㅋㅋㅋ">ㅋㅋㅋ</option>
            </select>
            <button @click="fnSearch()">클릭</button>
        </div>
        <div class="table-list" style="position: relative;">
            <table>                   
                <thead>
                    <tr>            
                        <th scope="col"></th>                
                        <th scope="col">No.</th>
                        <th scope="col">학번</th>
                        <th scope="col">이름</th>
                        <th scope="col">학과</th>
                        <th scope="col">학년</th>
                        <th scope="col">키</th>
                        <th scope="col">몸무게</th>
                        <th scope="col" v-if="addFlg"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in list" > 
                        <template v-if="updateNo != item.stu_no">
                            <td><input type="radio" v-bind:value = "item" v-model="checkItem"></td>                 
                            <td>{{index + 1}}</td> 
                            <td>{{item.stu_no}}</td>
                            <td>{{item.stu_name}}</td>
                            <td>{{item.stu_dept}}</td>     
                            <td>{{item.stu_grade}}</td>     
                            <td>{{item.stu_height}}</td>     
                            <td>{{item.stu_weight}}</td>  
                        </template>
                        <template v-else>
                            <td></td> 
                            <td>{{index + 1}}</td> 
                            <td><input type="text" v-model="info.stu_no" size="10"></td>
                            <td><input type="text" v-model="info.stu_name" size="5"></td>
                            <td><input type="text" v-model="info.stu_dept" size="5"></td>     
                            <td><input type="text" v-model="info.stu_grade" size="3"></td>     
                            <td><input type="text" v-model="info.stu_height" size="3"></td>     
                            <td><input type="text" v-model="info.stu_weight" size="2"></td>
                            <td><button @click="fnUpdateMember()">저장</button></td> 
                        </template>
                    </tr>
                    <tr v-if="addFlg">
                        <td></td> 
                        <td></td> 
                        <td><input type="text" v-model="info.stu_no" size="10"></td>
                        <td><input type="text" v-model="info.stu_name" size="5"></td>
                        <td><input type="text" v-model="info.stu_dept" size="5"></td>     
                        <td><input type="text" v-model="info.stu_grade" size="3"></td>     
                        <td><input type="text" v-model="info.stu_height" size="3"></td>     
                        <td><input type="text" v-model="info.stu_weight" size="2"></td>
                        <td><button @click="fnAddMember()">저장</button></td>
                    </tr>
                                                        
                </tbody>                   
            </table>
            <div>
                <button style="margin-top : 10px;" @click="fnRemove()">삭제</button>
                <button style="margin-top : 10px;" @click="fnAdd()">추가</button>
                <button style="margin-top : 10px;" @click="fnUpdate()">수정</button>
            </div>
        </div>
        
    </div>      
</body>
</html>
<script>
    var app = new Vue({ 
    el: '#app',
    data: {
        seen: true
        , list : []
        , keyword : ""
        , searchTxt : ""
        , selectItem : ""      
        , checkItem : {}
        , addFlg : false
        , updateNo : ""
        , info : {}
        
    },
     methods: {
            fnTest : function(){
                var self = this;
                $.ajax({
                    url:"js/MOCK_DATA2.json",
                    dataType:"json",
                    success:function(data) {
                        self.list = data;
                        
                }
            });          
        }
        , fnSearch : function(){
            this.searchTxt = this.keyword;
            console.log(this.info);
            
        }
        , fnRemove : function(){
            for(var i=this.list.length-1; i>=0; i--){
                for(var j=0; j<this.checkList.length; j++){
                    if(this.list[i].stu_no == this.checkList[j]){
                        this.list.splice(i, 1);
                        break;
                    }
                }
            }
        }
        , fnAdd : function(){
            this.addFlg = !this.addFlg;
        }
        , fnUpdate : function(){
            this.updateNo = this.checkItem.stu_no;
            this.info = this.checkItem;
        }
        , fnUpdateMember : function(){
            for(var i=0; i<this.list.length; i++){
                if(this.list[i].stu_no == this.checkItem.stu_no){
                    this.list[i] = this.info;
                }      
            }
            this.info = {stu_no : "", stu_name : "", stu_dept : "", stu_grade : "" , stu_height : "" , stu_weight : ""};
            this.updateNo = "";
        }
        , fnAddMember : function(){
            this.list.push(this.info);
            this.info = {stu_no : "", stu_name : "", stu_dept : "", stu_grade : "" , stu_height : "" , stu_weight : ""}
            this.addFlg = false;
        }
    }
    , created: function () {
		this.fnTest();

	}
});
</script>